[flake8]
max-line-length = 121
per-file-ignores =
    # Ignore F401 "Module imported but unused" only for __init__ files
    cognite/*/__init__.py:F401
    # N815: "variable ... should not be mixedCase", we wanna follow the naming in FDM
    cognite/dm_clients/*:N815
    # T201,T203: "print found" and "pprint" found
    examples/cinematography_domain/*:T201,T203

ignore =
    # Whitespace before ':'
    E203,
    # Line too long
    E501,
    # Line break before binary operator
    W503,
    # Error suffix in exception names (exceptions)
    N818,
    # Error for call in function argument, typer uses this to provide docs.
    B008

# Pydantic @validator makes a method a classmethod
classmethod-decorators=classmethod,validator
