[tool.poetry]
name = "cognite-gql-pygen"
version = "0.1.3"
description = "Cognite graphQL Python generation SDK"
readme = "README.md"
authors = ["Cognite <support@cognite.com>"]

packages = [{ include="cognite", from="." }]

[tool.black]
line-length = 120
target_version = ['py39']
include = '\.py$'

[tool.isort]
line_length=120                # corresponds to -w  flag
multi_line_output=3            # corresponds to -m  flag
include_trailing_comma=true    # corresponds to -tc flag
skip_glob = '^((?!py$).)*$'    # this makes sort all Python files
known_third_party = []

[tool.poetry.scripts]
cogpygen = "cognite.gqlpygen.main:main"
dm_clients = "cognite.dm_clients.main:main"


[tool.poetry.dependencies]
python = "^3.9"
pydantic = ">=1.10"
typer = {version = "*", extras = ["all"] }
PyYAML = "^6.0"
arrow = "^1.2.2"
cognite-sdk = {version = "^5.9.0", extras = ["pandas"]}
msal = "^1.16.0"
numpy = "^1.23.2"
strawberry-graphql = "^0.156.4"
docopt = "^0.6.2"
cachelib = "^0.10.2"
retry = "^0.9.2"
loguru = "^0.6.0"

[tool.poetry.dev-dependencies]
twine = "*"
pre-commit = "*"
toml = "*"
python-dotenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[tool.pytest.ini_options]
addopts = "--doctest-modules"

[tool.mypy]
plugins = [
  "pydantic.mypy"
]
explicit_package_bases = true
follow_imports = "normal"
warn_redundant_casts = true
warn_unused_ignores = true
check_untyped_defs = true
#disallow_any_generics = true
#no_implicit_reexport = true
#disallow_untyped_defs = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
