        for role in self.roles:
            edge = self._create_role_edge(role)
            if edge.external_id not in cache:
                edges.append(edge)
                cache.add(edge.external_id)

            if isinstance(role, CircularModelApply):
                instances = role._to_instances_apply(cache)
                nodes.extend(instances.nodes)
                edges.extend(instances.edges)
