        if self.{{ edge_snake }} is not None:
            if isinstance(self.{{ edge_snake }}, CircularModelApply):
                instances = self.{{ edge_snake }}._to_instances_apply(cache)
                nodes.extend(instances.nodes)
                edges.extend(instances.edges)
