        if self.{{ edge_name }} is not None and isinstance(self.{{ edge_name }}, DomainModelApply):
            instances = self.{{ edge_name }}._to_instances_apply(cache)
            nodes.extend(instances.nodes)
            edges.extend(instances.edges)
